.gs-section-plans {
    background-color: var(--bg-color-primary);
    color: var(--font-color-primary);
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gs-section-plans-title {
    font-size: 2.5rem;
}

.gs-plans-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    padding: 2rem;
    background-color: var(--bg-color-secondary);
    border-radius: 1rem;
}

@media (max-width: 960px) {
    .gs-plans-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
    }
}