.gs-header-client {
    background-color: #3040d8;
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

@media (max-width: 960px) {
    .gs-header-client {
        height: 320px;
        flex-direction: column;
    }
}