.gs-workout-form-section {
    background-color: var(--bg-color-primary);
    border-radius: 1rem;
    color: var(--font-color-primary);
}

.gs-workout-form-section h1 {
    margin-bottom: 1rem;
}
.gs-workout-form-card {
    display: flex;
    flex-direction: column;
}

.gs-workout-form-card-titles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: .5rem;
}

.gs-workout-form-card-exercise {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gs-workout-form-card-save {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: right;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
}